# Comma separated list of URLs to ping
TARGET_URLS=https://adnanshahria2019-my-qwen-coder.hf.space,https://google.com

# Interval duration
# You can set either HOURS or exact MS. 
# If MS is set, it takes precedence.

PING_INTERVAL_HOURS=23
# PING_INTERVAL_MS=23000  <-- Uncomment to use 23 seconds instead
